<html>
    <head>
        <%- include('../partials/head.ejs'); %> 
    </head>
    <body>
        <nav>
            <%- include('../partials/navbar.ejs'); %> 
        </nav>
        <main>
            <div class="jumbotron">
                <h1>This is Careers Page</h1>
                <p>Welcome to templating use EJS</p>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %> 
        </footer>
    </body>
</html>